/* Box sizing rules */

*,

*::before,

*::after {

  box-sizing: border-box;

}

 

/* Remove default margin */

body,

h1,

h2,

h3,

h4,

p,

figure,

blockquote,

dl,

dd {

  margin: 0;

}

 

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul[role='list'],

ol[role='list'] {

  list-style: none;

}

 

/* Set core root defaults */

html:focus-within {

  scroll-behavior: smooth;

}

 

/* Set core body defaults */

body {

  min-height: 100vh;

  text-rendering: optimizeSpeed;

  line-height: 1.5;

}

 

/* A elements that don't have a class get default styles */

a:not([class]) {

  text-decoration-skip-ink: auto;

}

 

/* Make images easier to work with */

img,

picture {

  max-width: 100%;

  display: block;

}

 

/* Inherit fonts for inputs and buttons */

input,

button,

textarea,

select {

  font: inherit;

}

 

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {

  html:focus-within {

   scroll-behavior: auto;

  }

 

  *,

  *::before,

  *::after {

    animation-duration: 0.01ms !important;

    animation-iteration-count: 1 !important;

    transition-duration: 0.01ms !important;

    scroll-behavior: auto !important;

  }

}

:root {

    --ff-body: "PT Sans", sans-serif;

    --ff-heading: "PT Sans Narrow", sans-serif;

 

    --fw-normal: 400;

    --fw-bold: 700;

 

    --clr-primary-100: #91e5f6;

    --clr-primary-200: #84d2f6;

    --clr-primary-300: #386fa4;

    --clr-primary-400: #386fa4;

    --clr-primary-500: #133c55;

    --clr-accent: #6ca34c;

 

    --clr-light: #fff;

    --clr-dark: #000;

 

    --clr-gradient: linear-gradient(210deg, var(--clr-primary-100), var(--clr-primary-500));

}

 

.wrapper {

  display: flex;

  justify-content: center;

  padding-top: 50px;

}

.screen {

  display: flex;

  justify-content: center;

  padding-bottom: 50px;

  /* display: none;  */

  font-size: 3rem;

}

 

.header {

    background: url(images/header.jpeg);

    width: 100%;

    height: 300px;

    color: var(--clr-dark);

}

 

.main {

  width: 100%;

  background-image: var(--clr-gradient);

}

 

.title {

  text-align: center;

  height: 1.25rem;

}

 

.card-grid {

  display:grid;

  gap: 4rem;

  grid-template-columns: repeat(3, 1fr);

  padding-block: 2rem;

  margin-inline: auto;

  justify-items: center;

}

 

.card {

  height: 150px;

  width: 150px;

  color: var(--clr-light);

  background-color: green;

  border-radius: .5rem;

  text-align: center; 

  padding-top: 65px;

}

 

.card:hover

{

  background-color: var(--clr-accent);

  color: rgb(8, 0, 78);

  transition: all 0.5s ease;

}

 

.footer {

  width: 100%;

  height: 30px;

  background-color: rgb(0, 0, 59);

  color: var(--clr-light);

  display: flex;

  gap: 50px;

  justify-content: center;

  padding-bottom: 0;

}

 

.contact {

  color: var(--clr-light);

}

 

.contact:hover {

  color: var(--clr-accent);

}

 

.contact:focus {

  color: var(--clr-accent);

  text-decoration: none;

}
